.gradle
.idea
/gradle-user-home/
/out/
/build/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
roce/perftsuite.epd
roce/readme.html
roce/Roce.cfg
roce/Roce.log\r
roce/roce38.bmp
roce/roce38.jpg
roce/roce38_32
roce/roce38_64
roce/roce38m.zip
div4.txt
div5.txt
left.txt
log.txt
magic.c
perft_5.txt
perft_8.txt
qperft
qperft.c
right.txt
temp.txt
typescript
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
roce/Roce.log\r
